@import url('default.css');

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #FFF;
}
header .logo {
    float: left;
    margin: 32px 128px 0 0;
    font-size: 0;
    line-height: 0;
}
header .gnb {
    float: left;
}
header .gnb > ul > li {
    float: left;
    width: 230px;
    text-align: center;
}
header .gnb > ul > li > a {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 100px;
    /* header의 높이가 100px - 글자를 header 위아래 가운데 배치 */
    white-space: nowrap;
    /* 행간으로 위아래 여백을 처리해버리는 경우
       절대 2줄이 되지 못하도록 white-space:nowrap(줄바꿈금지)을 준다 */
}
header .gnb > ul > li > ul {
    /* 2차메뉴 */
    display: none;
}
header .gnb .gnb_open {
    display: none; /* 모바일 버튼 */
}
header .gnb .gnb_close {
    display: none; /* 모바일 버튼 */
}
header .tnb {
    float: right;
    margin: 35px 0 0 0;
}
header .tnb a {
    display: block;
    float: left;
    margin: 0 0 0 10px;
}
header .tnb a span {
    display: none;
}
header .tnb a i {
    font-size: 30px;
}
@media screen and (max-width:640px){
    header {
        height: 45px;
    }
    header .logo {
        margin: 15px 0 0 0;
    }
    header .logo a img {
        width: 80px;
    }
    header .gnb {
        float: right;
        margin: 13px 0 0 0;
    }
    header .gnb > ul {
        display: none;
    }
    header .gnb .gnb_open {
        display: block; /* 모바일 버튼 */
    }
    header .gnb .gnb_open span {
        display: none;
    }
    header .gnb .gnb_open i {
        font-size: 20px;
    }
    header .tnb {
        display: none;
    }
}/* header media 종료 */

.visual {
    position: relative;
    height: 1000px;
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    background-attachment: fixed;
    color: #FFF;
}
.visual .inner {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    /* margin: -188px 0 0 0; */
    transform: translate(0, -188px);
}
.visual h2 {
    margin: 0 0 36px 0;
    font-size: 60px;
    font-weight: 100;
    line-height: 1.25;
}
.visual h2 strong {
    font-weight: 700;
}
.visual a {
    display: inline-block;
    padding: 2px 5px 2px 0;
    font-weight: 700;
    border-bottom: 1px solid #FFF;
}

@media screen and (max-width:640px){
    .visual {
        height: 760px;
    }
    .visual .inner {
        transform: translate(0, -160px);
    }
    .visual h2 {
        margin: 0 0 20px 0;
        font-size: 30px;
    }
}/* visual media 종료 */

.care .inner {
    position: relative;/* more정렬의 기준 */
}
.care .tit {
    margin: 124px 0 66px 0;
}
.care .tit h2 {
    float: left;
    color: #1d1d1d;
    font-size: 60px;
    font-weight: 700;
}
.care .tit p {
    float: left;
    margin: 55px 0 0 30px;
}
.care .more {
    position: absolute;
    right: 0;
    top: 49px;
}
.care .more a {
    display: block;
    width: 120px;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #3D3D3D;
}
.care .more a span {
    float: left;
}
.care .more a i {
    float: right;
    margin: 6px 0 0 0;
    font-size: 18px;
}
.care .more a:hover {
    color: #00AE4D;
    border-bottom-color: #00AE4D;
}
.care ul li {
    float: left;
    width: 440px;
    margin: 0 40px 88px 0;
}
.care ul li:nth-child(3), .care ul li:nth-child(6) {
    margin-right: 0;
}
.care ul li:nth-child(2), .care ul li:nth-child(5) {
    margin-top: 40px;
}
.care ul li a {
    display: block;
}
/*
    마우스 오버 시 이미지 확대
    1. 이미지만 감싸는 별도의 영역이 필요
    2. 해당 영역은 overflow:hidden;과 높이 설정이 필요 
       (높이는 100%)
    3. 감싸는 영역에서 font-size:0; line-height:0;으로 이미지 하단에 발생하는 
        행간을 삭제해야함
    4. 이미지에 미리 (오버전) transition을 줘서 자연스럽게 확대되도록 해야함
    5. 오버후 이미지를 transform:scale3d(확대값,확대값,1)을 준다.
*/
.care ul li a span {
    display: block;
    overflow: hidden;
    height: 100%;
    border-radius: 20px;
    /* 이미지도 하단에 행간이 적용되어 여백이 발생함
       이미지 하단 행간을 삭제하려면 감싸는 요소에 글자크기/행간을 0 줘야함 */
    font-size: 0;
    line-height: 0;
}
.care ul li a span img {
    transition: 0.5s;
}
.care ul li a:hover span img {
    transform: scale3d(1.2, 1.2, 1);
    /* scale3d에서 1.2는 좌우 넓이 배율 
       마지막 1은 축 - 1일 줘야 가운데에서 늘어남 */
}
.care ul li a:hover span {
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
}
.care ul li a dl {
    margin: 13px 0 0 20px;
    font-size: 17px;
    line-height: 30px;
}
.care ul li a dl dt {
    font-weight: 700;
    float: left;
}
.care ul li a dl dd {
    display: block;
    position: relative;
    margin: 0 0 0 90px;
}
.care ul li a dl dd::before {
    position: absolute;
    left: -8px;
    top: 11px;
    width: 1px;
    height: 13px;
    background-color: #CCCCCC;
    content: "";
}

@media screen and (max-width:640px){
    .care .tit {
        margin: 47px 0 30px 0;
    }
    .care .tit h2 {
        float: none;
        font-size: 30px;
    }
    .care .tit p {
        float: none;
        margin: 2px 0 0 0;
    }
    .care .more {
        position: relative;
        right: auto;
        top: auto;
        text-align: center;
    }
    .care .more a {
        display: inline-block;
        width: 145px;
        height: 35px;
        line-height: 35px;
        border: 1px solid #3D3D3D;
        border-radius: 18px;
        padding: 0 10px 0 15px;
    }
    .care .more a i {
        margin: 9px 0 0 0;
    }
    .care ul li {
        float: none;
        width: auto;
        margin: 0 0 40px 0;
    }
    .care ul li:nth-child(2), .care ul li:nth-child(5) {
        margin-top: 0;
    }
    .care ul li:nth-child(4), .care ul li:nth-child(5), .care ul li:nth-child(6) {
        display: none;
    }
    .care ul li a span img {
        width: 100%;
    }
    .care ul li a dl {
        margin: 10px 0 0 21;
        font-size: 15px;
        line-height: 25px;
    }
    .care ul li a dl dd {
        margin: 0 0 0 78px;
    }
    .care ul li a dl dd::before {
        left: -7px;
        top: 9px;
        height: 10px;
    }
}/* care media 종료 */

.step {
    height: 706px;
    margin: 40px 0 0 0;
    background: url(../images/step_bg.png) no-repeat center center / cover;
    color: #fff;
}
.step .tit {
    padding: 153px 0 75px 0;
}
.step .tit h2 {
    float: left;
    font-size: 60px;
    font-weight: 700;
}
.step .tit p {
    float: left;
    margin: 55px 0 0 30px;
}
.step .ctrl {
    display: none;
}
.step .list ol li {
    float: left;
    width: 200px;
    height: 200px;
    padding: 25px 20px 0 20px;
    margin: 0 40px 0 0;
    border:1px solid rgba(255,255,255,0.2)
}
.step .list ol li:last-child {
    margin-right: 0;
}
.step .list ol li strong {
    display: block;
    color: rgba(255,255,255,0.6);
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}
.step .list ol li h3 {
    margin: 5px 0 21px 0;
    font-size: 20px;
    font-weight: 700;
}
