@import url('default.css');
@import url('common.css');

/* 메인에 있는 스타일만 정의 */

.visual {
    position: relative;
    height: 100vh; /* 브라우저 높이의 100% */
    background: url(../images/main/visual_bg.png) no-repeat center center / cover;
    color: #FFF;
}
.visual .visual_wrap {
    position: absolute;
    left: calc(50% - 700px);
    top: 50%;
    transform: translate(0, -50%); 
    /* 해당요소의 넓이와 높이를 계산해서 그 값의 50%를 왼쪽 오른쪽으로 이동 
       top: 50%;을 주면 위아래 가운데에서 시작해서 아래로 콘텐츠가 배치됨
       콘텐츠의 위아래 여백을 동일하게 주려면 (즉, 콘텐츠가 자기 높이의 절반이 위로 이동)
       transform: translate(좌우이동값, 위아래이동값:-50%)을 주면 됨.
    */
}
.visual h2 {
    margin: 0 0 44px 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
}
.visual h2 strong {
    display: block;
    margin: 17px 0 0 0;
    font-weight: 700;
}
.visual .search {
    width: 460px;
    height: 60px;
    border: 2px solid #FFF;
    border-radius: 30px;
}
.visual .search label {
    display: none; /* 접근성 때문에 준 태그 */
}
.visual .search input[type="text"] {
    /* <input type="text" />라고 되어 있는 태그만 지칭 */
    float: left;
    width: 370px;
    height: 55px;
    margin: 0 0 0 30px;
    border: 0;
    outline: 0; /* focus가 되었을때 테두리 생성되는 것 삭제 */
    background-color: transparent;
    font-size: 20px;
}
.visual .search input[type="text"]::placeholder {
    color: rgba(255,255,255,0.5);
}
.visual .search .btn {
    float: left; /* 키워드입력란하고 버튼 사이여백 삭제 */
    width: 55px;
    height: 55px;
}
.visual .search input.btn {
    border: 0; 
    background-color: transparent;
    background-image: url(../images/main/search_ico.svg);
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0; /* 버튼 글자 없애기 */
    cursor: pointer; /* 마우스 오버시 손바닥 모양 */
}
.visual .search button.btn span {
    display: none;
}
.visual .search button.btn i {
    margin: 3px 0 0 0;
    font-size: 21px;
}

@media screen and (max-width:640px){
    .visual {
        height: 346px;
    }
    .visual .visual_wrap {
        left: 20px;
    }
    .visual h2 {
        margin: 0 0 25px 0;
        font-size: 20px;
    }
    .visual h2 strong {
        margin: 8px 0 0 0;
    }
    .visual .search {
        width: 224px;
        height: 39px;
        border-radius: 20px;
    }
    .visual .search input[type="text"] {
        /* <input type="text" />라고 되어 있는 태그만 지칭 */
        width: 170px;
        height: 35px; /* search 높이 - border값 */
        margin: 0 0 0 17px;
        font-size: 13px;
    }
    .visual .search .btn {
        width: 31px;
        height: 35px;
    }
    .visual .search input.btn {
        background-size: 13px; 
        /* 사이즈를 하나만 입력하면 넓이가 조정됨 - 높이는 비율에 맞게 알아서 조절 */
    }
    .visual .search button.btn i {
        margin: 4px 0 0 0;
        font-size: 13px;
    }
}

.part {
    margin: 65px 0 0 0;
}
.part h2 {
    position: relative;
    margin: 0 0 26px 0;
    color: #1D1D1D;
    font-size: 45px;
    font-weight: 700;
}
.part h2::before {
    position: absolute;
    left: 0;
    top: -5px;
    width: 35px;
    height: 1px;
    background-color: #1D1D1D;
    content: "";
}
.part .list ul {
    width: 2400px; 
    /* 모든 li의 넓이 + 여백을 합한 넓이 
        li의 넓이 440px + 오른쪽 여백 40px = 480px * li의 숫자 5 = 2400 */
    margin-left: -480px; /* 하나의 li의 넓이 + 여백 */
}
.part .list ul li {
    float: left;
    width: 440px;
    margin: 0 40px 0 0;
}
.part .list ul li a {
    display: block;
}
.part .list ul li a .pic {
    overflow: hidden; 
    /* 마우스 오버시 이미지가 확대 되는데 영역 밖으로 이미지가 나가지 않도록 */
    font-size: 0;
    line-height: 0;
    /* 이미지하단에 발생하는 여백 삭제 */
}
.part .list ul li a h3 {
    margin: 18px 0 10px 0;
    font-size: 25px;
    font-weight: 700;
}
.part .list ul li a p {
    line-height: 1.5;
    height: 3em;
    overflow: hidden;
}
.part .list ul li a .pic img {
    width: 100%;
    transition: 0.5s;
}
/* 마우스 오버했을때 */
.part .list ul li a:hover .pic img {
    transform: scale3d(1.2, 1.2, 1);
}

.part .more {
    position: absolute;
    right: 0;
    top: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 38px;
    padding: 0 14px 0 14px;
    border: 1px solid #666666;
    border-radius: 19px;
}
.part .more i {
    color: #666666;
    font-size: 11px;
}

@media screen and (max-width:640px){ 
    .part {
        margin: 60px 0 0 0;
    }
    .part h2 {
        margin: 0 0 23px 0;
        font-size: 25px;
    }
    .part h2::before {
        width: 21px;
    }
    .part .list {
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 10px; /* 가로 스크롤바가 글자에 겹쳐서  */
    }
    .part .list ul {
        width: 1104px; 
        /* 모든 li의 넓이 + 여백을 합한 넓이 
            li의 넓이 208px + 오른쪽 여백 16px = 224px * li의 숫자 5 = 1120 */
        margin-left: 0; /* 모바일은 첫번째 li부터 나타남 */
    }
    .part .list ul li {
        width: 208px;
        margin: 0 16px 0 0;
    }
    .part .list ul li:last-child {
        margin-right: 0;
    }
    .part .list ul li a h3 {
        margin: 16px 0 7px 0;
        font-size: 20px;
    }
    
    .part .more {
        top: 2px;
        justify-content: center;
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 15px;
    }
    .part .more span {
        display: none; /* 글자 숨기기 */
    }
}