@import url('default.css');
@import url('common.css');
@import url('contents.css');

/* 서브레이아웃 스타일 */
.sub_visual {
    height: 380px;
    background-image: url(../images/sub/sub_visual01.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}
.sub_visual.sub_bg1 {
    background-image: url(../images/sub/sub_visual01.png);
}
.sub_visual.sub_bg2 {
    background-image: url(../images/sub/sub_visual02.png);
}
.sub_visual.sub_bg3 {
    background-image: url(../images/sub/sub_visual03.png);
}
.sub_visual.sub_bg4 {
    background-image: url(../images/sub/sub_visual04.png);
}
.sub_visual.sub_bg5 {
    background-image: url(../images/sub/sub_visual05.png);
}
.sub_visual strong {
    display: block;
    padding: 240px 0 0 0;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width:640px){
    .sub_visual {
        height: 200px;
    }
    .sub_visual strong {
        padding: 130px 0 0 0;
        font-size: 20px;
        text-align: left;
    }
}/* sub visual 반응형 종료 */

.lnb {
    position: relative;
    z-index: 200;
    height: 70px;
    background-color: #0059A8;
    color: #FFF;
}
.lnb .menu {
    float: left;
}
.lnb .menu .home {
    float: left;
    width: 70px;
    height: 70px;
    line-height: 70px; /* i태그가 위아래 가운데 */
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: rgba(255,255,255,0.2);
    text-align: center;
}
.lnb .menu .home i {
    color: rgba(255,255,255,0.6);
    font-size: 18px;
}
.lnb .menu .depth {
    position: relative; /* ul 정렬의 기준 */
    float: left;
    width: 300px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba(255,255,255,0.2);
}
.lnb .menu .depth .btn {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; /* flex는 inline요소일때 하위 콘텐츠가 존재하는 만큼만 넓이를 갖음. */
    height: 70px;
    padding: 0 25px 0 30px;
}
.lnb .menu .depth .btn span {
    font-size: 17px;
}
.lnb .menu .depth .btn i {
    color: rgba(255,255,255,0.6);
    font-size: 15px;
    /* 애니메이션 준비값 */
    transition: 0.3s;
}
.lnb .menu .depth ul {
    display: none;
    position: absolute; /* 마우스오버나 클릭으로 나타나는 콘텐츠는 반드시 absolute함 */
    left: 0;
    top: 70px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #3D3D3D;
}
.lnb .menu .depth ul li a {
    display: block;
    padding: 0 0 0 30px;
    border-bottom: 1px solid #EDEDED;
    font-size: 17px;
    line-height: 55px;
}
.lnb .menu .depth ul li:last-child a {
    border-bottom: 0;
}
.lnb .menu .depth ul li.now a,
.lnb .menu .depth ul li a:hover {
    background-color: #68A5D6;
    color: #FFF;
}
/* 메뉴가 열렸을때 */
.lnb .menu .depth.open ul {
    /* display: block; - juery에서 보이게 할 예정 */
}
.lnb .menu .depth.open .btn i {
    transform: rotate(180deg);
}

.lnb .print {
    float: right;
    width: 70px;
    height: 70px;
    line-height: 70px; /* i태그가 위아래 가운데 */
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: rgba(255,255,255,0.2);
    text-align: center;
}
.lnb .print i {
    color: rgba(255,255,255,0.6);
    font-size: 18px;
}

@media screen and (max-width:640px){
    .lnb {
        height: 60px;
    }
    .lnb .wrapper {
        margin: 0; /* lnb는 모바일에서 컨텐츠 영역의 여백이 필요 없음 */
    }
    .lnb .menu {
        float: none;
    }
    .lnb .menu .home {
        display: none;
    }
    .lnb .menu .depth {
        width: 50%;
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: rgba(255,255,255,0.2);
    }
    .lnb .menu .depth:last-child {
        border-width: 0;
    }
    .lnb .menu .depth .btn {
        height: 60px;
        padding: 0 12px 0 18px;
    }
    .lnb .menu .depth .btn span {
        font-size: 15px;
    }
    .lnb .menu .depth .btn i {
        font-size: 12px;
    }
    .lnb .menu .depth ul {
        top: 60px;
    }
    .lnb .menu .depth ul li a {
        padding: 0 0 0 20px;
        font-size: 15px;
        line-height: 45px;
    }
    .lnb .print {
        display: none;
    }
}

.container {
    min-height: 300px;
}
.container .sub_tit {
    margin: 80px 0 60px 0;
}
.container .sub_tit h2 {
    color: #1D1D1D;
    font-size: 45px;
    font-weight: 700;
}
@media screen and (max-width:640px){
    .container .sub_tit {
        margin: 49px 0 53px 0;
    }
    .container .sub_tit h2 {
        font-size: 30px;
    }
}

.contents .table_wrap table {
    width: 100%;
    border-collapse: collapse; /* th/td에 준 선을 겹쳐서 표현하는 방법 */
    border-top: 3px solid #CCCCCC;
}
.contents .table_wrap table th, 
.contents .table_wrap table td {
    border: 1px solid #CCCCCC;
}
.contents .table_wrap table th:first-child, 
.contents .table_wrap table td:first-child {
    border-left: 0;
}
.contents .table_wrap table th:last-child, 
.contents .table_wrap table td:last-child {
    border-right: 0;
}
.contents .table_wrap table thead th,
.contents .table_wrap table thead td {
    padding: 20px 5px;
    background-color: #F4F4F4;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}
.contents .table_wrap table tbody th {
    font-weight: 400;
}
.contents .table_wrap table tbody th,
.contents .table_wrap table tbody td {
    padding: 7px 5px;
    text-align: center;
}
.contents .table_wrap table tbody td ul {
    padding: 15px 10px 15px 50px;
    text-align: left;
}
.contents .table_wrap table tbody td ul li {
    position: relative;
}
.contents .table_wrap table tbody td ul li::before {
    position: absolute;
    left: -9px;
    top: 8px;
    width: 3px;
    height: 3px;
    border-radius: 2px;
    background-color: #CCCCCC;
    content: "";
}
@media screen and (max-width:640px){
    /* 모바일에서 테이블을 좌우로 스크롤해서 보기 위해서
       감싸는 div에 overflow-x:scroll을 주고, table에는 최소 넓이값을 준다. */
    .contents .table_wrap {
        overflow-x: scroll;
        padding-bottom: 10px; /* 스크롤바를 하단으로 내리기 */
    }
    .contents .table_wrap table {
        min-width: 500px;
    }
    .contents .table_wrap table thead th,
    .contents .table_wrap table thead td {
        padding: 10px 3px;
        font-size: 15px;
    }
    .contents .table_wrap table tbody th,
    .contents .table_wrap table tbody td {
        padding: 5px 3px;
    }
    .contents .table_wrap table tbody td ul {
        padding: 5px 5px 5px 10px;
    }
    .contents .table_wrap table tbody td ul li::before {
        left: -5px;
        top: 9px;
        width: 2px;
        height: 2px;
    }
}