/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap'); /* 본명조 */
html, body {
    color: $basic_color;
    line-height: 1.5;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어별 줄바꿈 */
}

#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 320px;
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    /* 1400px 이하부터 320px까지 모든 사이즈 반응형 
       1400px 일때에도 좌우에 여백은 유지해야함 
       (1400이상에서 1400px이하로 변경되는 점 - 반응형으로 전환되는점)
       부드럽게 여백을 유지하면서 전환
       원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
       1400px이 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1440px이 넓이
       padding으로 좌우에 여백을 20px씩 줌  */
}
@media screen and (max-width:1000px){
    html, body {
        font-size: 14px;
    }
}
@media screen and (max-width:640px){
    html, body {
        font-size: 13px;
    }
}/* media 종료 */
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
.cnt_wrap {
    position: relative;
}

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000000000;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #0059A8;
    color: #FFF;
    text-align: center;
}
.skip_nav a:focus {
    top: 0;
}

/* 브라우저에서 글자를 드래그했을대 드래그한 영역의 색과 글자색
  -moz- -webkit- 이 앞에 붙은 속성은 표준화 되지 않은 속성  */
::selection{background:#CBA585;color:#3E3E3F;}
::-moz-selection{background:#CBA585;color:#3E3E3F;}
::-webkit-selection{background:#CBA585;color:#3E3E3F;} 

.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 300;
    width: 100%;
    height: 100px;
    .logo {
        float: left;
        margin: 30px 0 0 40px;
    }
    .gnb {
        float: right;
        margin: 0 40px 0 0;
        .gnb_open {
            display: none;
        }
        ul {
            li {
                float: left;
                a {
                    display: block;
                    padding: 0 24px;
                    color: $w_tit_color;
                    font-size: 22px;
                    line-height: 100px; /* header의 높이 */
                }
            }
        }
    }
}
@media screen and (max-width:1440px){
    .header .logo a img {
        width: 130px;
    }
    .header .gnb ul li a {
        font-size: 18px;
    }
}
@media screen and (max-width:1440px){
    .header .logo a img {
        width: 120px;
    }
    .header .gnb ul li a {
        padding: 0 15px;
        font-size: 17px;
    }
}

@media screen and (max-width:1000px){
    .header {
        height: 60px;
        .logo {
            margin: 16px 0 0 20px;
            a img {
                width: 108px;
            }
        }
        .gnb {
            margin: 0;
            .gnb_open {
                display: block;
                position: relative;
                width: 60px;
                height: 60px;
                strong {
                    display: none;
                }
                span {
                    position: absolute;
                    right: 20px;
                    width: 21px;
                    height: 2px;
                    background-color: #FFF;
                    &.line1 {   /*  span.line1  */
                        top: 25px;
                    }
                    &.line2 {
                        top: 32px;
                        width: 16px;
                    }
                    &.line3 {
                        top: 39px;
                    }
                }
            }
            ul {
                display: none;
            }
        }
    }
}