@import "_var.scss";
@import "_default.scss";
@import "_common.scss";

/* 서브 공통 레이아웃 */

.sub_visual {
    height: 628px;
    background: url(/design01/bntailor/images/sub/sub_visual1.png) no-repeat center center/cover;
    clip-path: path('M0,664.23L278.3,835.5L1920,701.16V0H0V664.23z');
    clip-rule:evenodd;
}
.container {
    svg {
        path {
            fill: #9D856D;
        }
    }
}